@import "tailwindcss";

@theme {
  --color-*: initial; /* Removes all default color utilities */
  --color-primary: oklch(0.6248 0.2388 26.93);
  --color-secondary: oklch(0.4635 0.0735 203.93);
  --color-dark: oklch(0.2749 0.0188 258.37);
  --color-dark-lighter: oklch(0.3546 0.0188 258.37);
  --color-background: oklch(0.6903 0.1431 161.07);

  --color-white: oklch(1 0 0);

  --font-sans:
    "Rajdhani", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* font size */
  --text-*: initial; /* Removes all default font size utilities */
  --text-10: 0.625rem;
  --text-11: 0.688rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-22: 1.375rem;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-72: 4.5rem;

  --spacing-4xs: 14rem;
  --spacing-5xs: 12rem;

  --breakpoint-*: initial;
  --breakpoint-sm: 28rem;
  --breakpoint-md: 36rem;
}

html,
body {
  @apply bg-background;
}
